/target
**/*.rs.bk
.env
.env.local
*.swp
*.swo
*~
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.profraw
*.profdata
coverage/
htmlcov/
cobertura.xml
lcov.info
.fixture/
node_modules/
docs/.next/
docs/.source/
docs/node_modules/
**/.yarn/install-state.gz
.turbo/
**/.turbo/
**/tsconfig.tsbuildinfo
